<div class="home-page" id="home-page">
    <section class="search-section">
        <div class="container">
            <h2>Welcome to ELvoca!</h2>
            <p class="sub-title">Lookup a word and add to your list for learning.</p>

            {{> _searchbox}}
        </div>
    </section><!-- end .search-section -->

    <section class="about-section" style="height: 100px;">
        <div class="container">
            <h2 class="about">#About</h2>
            <p class="title">
                ELvoca, which stands for <a href="/" class="stands">English Vocabulary</a>, 
                is a web application let you learn vocabulary easier.
            </p>
            <p class="sub-title">
                ELvoca’s dict, lists, and flashcards enable you to learn and remember words longer. 
            </p>

            <a href="/signup" class="btn btn-signup">Sign Up - It's free</a>
        </div>        
    </section><!-- end .about-section -->
</div>

<script>
    var pageContext = {
        pageName: 'homepage'
    }
</script>