<div class="home-page" id="home-page" style="height: 2000px;">    
    <section class="search-section">
        <div class="bg-img"></div>
        <div class="container">
            <h1>Lookup your words</h1>
            {{> _searchbox}}
        </div>
    </section><!-- end .search-section -->    

    <section class="about-section">        
        <div class="container">
            <h2 class="about">#About</h2>
            <p class="title">
                ELvoca, which stands for <a href="/" class="stands">English Vocabulary</a>, 
                is a web application let you learn vocabulary easier.
            </p>
            <p class="sub-title">
                ELvoca’s dict, lists, and flashcards enable you to learn and remember words well. 
            </p>

            <a href="/signup" class="btn btn-signup">Sign Up - It's free</a>

            <p class="log-in">Already use ELvoca? <a href="/signin">Log in</a></p>
        </div>        
    </section><!-- end .about-section -->
</div>

<script>
    var pageContext = {
        pageName: 'homepage'
    }
</script>