<script>
    var pageContext = {
        pageName: 'homepage'
    }
</script>

{{> _searchbox}}
<div class="home-page" id="home-page" style="height: 1000px;">    
    <div id="search-result"></div>
</div>