<script>
    var pageContext = {
        pageName: 'searchresultpage'
    }
</script>

{{> _searchbox}}
<div class="searchresult-page" id="searchresult-page">  
    <div id="search-result">{{{data.searchResult}}}</div>
</div>