<script>
    var pageContext = {
        pageName: 'searchresultpage'
    }
</script>

{{> _searchbox}}
<div class="searchresult-page" id="searchresult-page">
    <a href="#" id="addToList"><i class="glyphicon glyphicon-plus"></i> Add to list</a>
    <div id="search-result">{{{data.searchResult}}}</div>
</div>