/*-----------------------------------------------------------------------------------------------------------
CSS3 PROPERTIES 
-----------------------------------------------------------------------------------------------------------*/
// Border Radius
.border-radius(@radius) {
    -webkit-border-radius: @radius;
       -moz-border-radius: @radius;
            border-radius: @radius;
}

.border-top-left-radius(@radius) {
    -webkit-border-top-left-radius: @radius;
       -moz-border-top-left-radius: @radius;
            border-top-left-radius: @radius;
}

.border-bottom-left-radius(@radius) {
    -webkit-border-bottom-left-radius: @radius;
       -moz-border-bottom-left-radius: @radius;
            border-bottom-left-radius: @radius;
}

.border-top-right-radius(@radius) {
    -webkit-border-top-right-radius: @radius;
       -moz-border-top-right-radius: @radius;
            border-top-right-radius: @radius;
}

.border-bottom-right-radius(@radius) {
    -webkit-border-bottom-right-radius: @radius;
       -moz-border-bottom-right-radius: @radius;
            border-bottom-right-radius: @radius;
}



// Transition
.transition(@transition) {
    -webkit-transition: @transition;
       -moz-transition: @transition;
         -o-transition: @transition;
            transition: @transition;
}

// -moz-background-size
.backgroundSize(@backgroundsize) {
    -webkit-background-size: @backgroundsize;
    -moz-background-size: @backgroundsize;
    -o-background-size: @backgroundsize;
    background-size: @backgroundsize;
}

// placeholder color
.placeholdercolor(@color: #bbb8b8) {
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: @color;
    }
    ::-moz-placeholder { /* Firefox 19+ */
        color: @color;
    }
    :-ms-input-placeholder { /* IE 10+ */
        color: @color;
    }
    :-moz-placeholder { /* Firefox 18- */
        color: @color;
    }
}

// .btn-elvoca
.linearGradient(@tocolor, @bottomcolor) {    
    background: -webkit-linear-gradient(to bottom, @tocolor 0, @bottomcolor 100%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(to bottom, @tocolor 0, @bottomcolor 100%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to bottom, @tocolor 0, @bottomcolor 100%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, @tocolor 0, @bottomcolor 100%); /* Standard syntax (must be last) */
}

.transform(@transform) {
    -webkit-transform: @transform;
    -moz-transform: @transform;
    -o-transform: @transform;
    transform: @transform;
}

.box-shadow(@boxShadow) {
    -webkit-box-shadow: @boxShadow;
    -moz-box-shadow: @boxShadow;
    -o-box-shadow: @boxShadow;
    box-shadow: @boxShadow;
}