<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Dictionary</title>

    <link rel='stylesheet' href='public/css/style.min.css' type='text/css' media='all' />
</head>

<body>
    <div class="wrapper">
        <nav role="navigation" class="main-menu">
            <ul>
                <li><a href="#">Giải pháp</a></li>
                <li><a href="#">Tin tức</a></li>
                <li><a href="#">Đăng nhập</a></li>
            </ul>
        </nav>
        
        <header>
            <div class="logo pull-left">
                <a href="/" title="Dictionary">
                    <!--<img src="public/images/logo.png" alt="" title="" class="logo">-->
                    <h1>Dict</h1>
                </a>
            </div>
            <div class="pull-right">
                <span class="glyphicon glyphicon-menu-hamburger toggle-menu"></span>
                <span class="glyphicon glyphicon-remove toggle-menu"></span>
            </div>
        </header>

        <main id="main" class="main" role="main">
            <section class="search-wrapper">
                <div class="container">                    
                    <div class="search-box">                        
                        <input id="txtSearch" type="text" placeholder="Nhập từ cần tìm">
                        <i class="glyphicon glyphicon-search"></i>

                        <div id="search-suggestion" class="search-suggestion">

                        </div>
                    </div>
                    <div class="search-type">
                        <div class="select">
                            <select>
                                <option value="">Tỉnh thành</option>
                                <option value="">Hồ Chí Minh</option>
                                <option value="">Hà Nội</option>
                                <option value="">Bình Định</option>
                            </select>
                            <div class="select__arrow"></div>
                        </div>     
                    </div>                                   
                </div>                
            </section><!-- end .search-wrapper -->

            <%-body%>
                <div class="overlay-bg"></div>
        </main>

        <footer>

        </footer>
    </div>

    <script type='text/javascript' src='public/js/libs/jquery.min.js'></script>
    <script type='text/javascript' src='public/js/app.min.js'></script>
</body>

</html>