/*-----------------------------------------------------------------------------------------------------------
color
-----------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------
CSS3 PROPERTIES 
-----------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------
Global
-----------------------------------------------------------------------------------------------------------*/
html,
body {
  height: 100%;
}
body {
  background-color: #e9e9e9;
}
body.mobile-menu {
  position: fixed;
  overflow: hidden;
}
a {
  cursor: pointer;
}
.main {
  position: relative;
  left: 0;
  -webkit-transition: left 0.3s ease-in;
  -moz-transition: left 0.3s ease-in;
  -o-transition: left 0.3s ease-in;
  transition: left 0.3s ease-in;
  padding-top: 65px;
}
.mobile-menu .main {
  left: -80%;
}
.mobile-menu .overlay-bg {
  background-color: #000;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
.ajax-overlay {
  position: absolute;
  background-color: #ffffff;
}
.translate-text {
  position: fixed;
  bottom: 10px;
  right: -110px;
  font-size: 1.2em;
  color: #fff;
  padding: 6px 12px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  cursor: pointer;
  display: none;
  background-color: #9755b7;
  -webkit-transition: right 0.25s;
  -moz-transition: right 0.25s;
  -o-transition: right 0.25s;
  transition: right 0.25s;
}
.translate-text.active {
  right: 0px;
  display: inline-block;
}
.translate-text .fa-hand-o-right {
  position: absolute;
  left: -40px;
  top: 6px;
  font-size: 1.5em;
  color: #000;
  -webkit-animation-duration: 5s;
  -moz-animation-duration: 5s;
  -o-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
/*** Works on common browsers ***/
::selection {
  background-color: #9755b7;
  color: #fff;
}
/*** For Webkit ***/
::-webkit-selection {
  background-color: #9755b7;
  color: #fff;
}
/*** Mozilla based browsers ***/
::-moz-selection {
  background-color: #9755b7;
  color: #fff;
}
/***For Other Browsers ***/
::-o-selection {
  background-color: #9755b7;
  color: #fff;
}
::-ms-selection {
  background-color: #9755b7;
  color: #fff;
}
.translate-popup {
  margin: 0px auto;
  background-color: #fff;
}
.main-content {
  padding: 0px;
}
.sub-menu {
  height: 40px;
  -webkit-box-shadow: 0px 1px 5px #d0cdcd;
  -moz-box-shadow: 0px 1px 5px #d0cdcd;
  -o-box-shadow: 0px 1px 5px #d0cdcd;
  box-shadow: 0px 1px 5px #d0cdcd;
  margin-bottom: 15px;
}
.breadcrumb-wrapper {
  margin-top: 8px;
}
.breadcrumb ol {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.breadcrumb ol li {
  display: inline-block;
}
.breadcrumb ol li a {
  padding-right: 4px;
  opacity: 0.7;
  filter: alpha(opacity=70);
  font-size: 1.1em;
  color: #1CAFF6;
}
.breadcrumb ol li span[itemprop="position"] {
  color: #8c8a8a;
  letter-spacing: 4px;
}
.breadcrumb ol li:last-child a {
  opacity: 1;
  filter: alpha(opacity=100);
}
.breadcrumb ol li:last-child span[itemprop="name"] {
  font-weight: bold;
}
.breadcrumb ol li:last-child .arrow {
  display: none;
}
.custom-arrow i {
  border: solid #585a5a;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  margin: 0 0 4px 9px;
}
.custom-arrow i.up {
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  margin-bottom: -4px;
  display: none;
}
.custom-arrow i.down {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  display: inline-block;
}
.custom-arrow.collapsed .up {
  display: inline-block;
}
.custom-arrow.collapsed .down {
  display: none;
}
@media (min-width: 1024px) {
  .main {
    padding-top: 80px;
  }
  .translate-text {
    position: absolute;
    bottom: initial;
  }
  .sub-menu {
    height: 50px;
  }
  .breadcrumb-wrapper {
    margin-top: 13px;
  }
  .breadcrumb ol li a {
    font-size: 1.2em;
  }
  .right-menu {
    padding: 0px 0px 0px 40px;
  }
  .right-menu .section-add-word-to-list {
    padding: 20px;
    background-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 0 0 25px rgba(0, 0, 0, 0.04);
    -o-box-shadow: 0 0 25px rgba(0, 0, 0, 0.04);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.04);
  }
}
/*-----------------------------------------------------------------------------------------------------------
Select
-----------------------------------------------------------------------------------------------------------*/
.select {
  position: relative;
  display: inline-block;
  width: 100%;
}
.select select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  color: #7b7b7b;
  border: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  outline: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select select::-ms-expand {
  display: none;
}
.select select:disabled {
  pointer-events: none;
  opacity: .5;
}
.select__arrow {
  position: absolute;
  top: 12px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-width: 8px 5px 0 5px;
  border-style: solid;
  border-color: #7b7b7b transparent transparent transparent;
}
.select select:disabled ~ .select__arrow {
  border-top-color: #ccc;
}
/*-----------------------------------------------------------------------------------------------------------
Main Menu
-----------------------------------------------------------------------------------------------------------*/
.main-menu {
  position: fixed;
  width: 80%;
  right: -80%;
  -webkit-transition: right 0.3s ease-in;
  -moz-transition: right 0.3s ease-in;
  -o-transition: right 0.3s ease-in;
  transition: right 0.3s ease-in;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 99999;
}
.main-menu ul {
  position: absolute;
  list-style: none;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #026AA7;
  padding: 0px;
}
.main-menu ul li {
  display: block;
  padding: 17px 0px 18px 0px;
  border-bottom: 1px solid #91ab96;
}
.main-menu ul li:last-child {
  border-bottom: 0px;
}
.main-menu ul li a {
  color: #e4ecff;
  font-size: 1.5em;
  display: block;
  text-align: center;
}
/*-----------------------------------------------------------------------------------------------------------
Header
-----------------------------------------------------------------------------------------------------------*/
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transition: left 0.3s ease-in;
  -moz-transition: left 0.3s ease-in;
  -o-transition: left 0.3s ease-in;
  transition: left 0.3s ease-in;
  background-color: #026AA7;
  height: 65px;
  z-index: 10000;
}
header .logo {
  float: left;
  width: 115px;
  margin-left: 8px;
}
header .logo a {
  color: #fff;
}
header .logo .el {
  font-size: 2.3em;
  font-weight: 500;
  margin: 8px 0px 0px 10px;
  display: inline-block;
}
header .logo .voca {
  font-size: 1.8em;
  color: #f1f0d0;
  display: inline-block;
  margin-left: 3px;
  letter-spacing: 2px;
}
header .right-menu .btn-login {
  display: none;
}
header .right-menu .btn-signup {
  background: -webkit-linear-gradient(to bottom, #61bd4f 0, #5aac44 100%);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to bottom, #61bd4f 0, #5aac44 100%);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to bottom, #61bd4f 0, #5aac44 100%);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #61bd4f 0, #5aac44 100%);
  /* Standard syntax (must be last) */
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
  color: #fff;
  font-weight: bold;
  margin: 0px 0px 19px 5px;
  padding: 4px 7px;
}
header .toggle-menu {
  font-size: 2.5em;
  margin: 15px 20px 0px 10px;
  color: #fff;
}
header .toggle-menu.fa-times {
  display: none;
}
/*-----------------------------------------------------------------------------------------------------------
Mobile
-----------------------------------------------------------------------------------------------------------*/
.mobile-menu header {
  left: -80%;
}
.mobile-menu header .btn-signup {
  display: none;
}
.mobile-menu header .toggle-menu.fa-bars {
  display: none;
}
.mobile-menu header .toggle-menu.fa-times {
  display: block;
}
.mobile-menu .main-menu {
  right: 0;
}
/*-----------------------------------------------------------------------------------------------------------
Tablet display
-----------------------------------------------------------------------------------------------------------*/
@media (min-width: 768px) {
  header .right-menu .toggle-menu {
    display: none;
  }
  header .btn-login {
    display: inline-block !important;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
    margin: 16px 0px 19px 5px;
    padding: 4px 15px;
    background-color: rgba(0, 0, 0, 0.15);
  }
  header .btn-login:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.25);
  }
  header .btn-signup {
    margin: 16px 20px 19px 10px !important;
    padding: 4px 10px !important;
  }
}
/*-----------------------------------------------------------------------------------------------------------
Desktop display
-----------------------------------------------------------------------------------------------------------*/
@media (min-width: 1024px) {
  header {
    height: 80px;
  }
  header .logo {
    width: 150px;
  }
  header .logo .el {
    font-size: 3em;
  }
  header .logo .voca {
    font-size: 2.5em;
  }
  header .right-menu .toggle-menu {
    display: none;
  }
  header .btn-login {
    display: inline-block !important;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
    margin: 20px 0px 19px 5px;
    padding: 4px 18px;
    font-size: 1.4em;
    background-color: rgba(0, 0, 0, 0.15);
  }
  header .btn-login:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.25);
  }
  header .btn-signup {
    margin: 20px 20px 19px 10px !important;
    padding: 4px 13px !important;
    font-size: 1.4em;
  }
  header .btn-signup:hover {
    background: -webkit-linear-gradient(to bottom, #61bd4f 0, #38964c 100%) !important;
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(to bottom, #61bd4f 0, #38964c 100%) !important;
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to bottom, #61bd4f 0, #38964c 100%) !important;
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, #61bd4f 0, #38964c 100%) !important;
    /* Standard syntax (must be last) */
  }
}
.search-section {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #999a9a;
  z-index: 9999;
}
.search-box {
  position: relative;
  margin: 17px 15px 0px 15px;
  height: 45px;
  background-color: #fff;
  border: 1px solid #e4e4e4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.search-box .frmSearch {
  height: 100%;
}
.search-box input[type='text'] {
  width: 65%;
  height: 100%;
  font-size: 1.3em;
  padding: 2px 5px 0px 10px;
  background-color: transparent;
  border: 0px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  outline: none;
  color: #585a5a;
  float: left;
}
.search-box input[type='text']::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 0.9em;
  color: #bbb8b8;
}
.search-box input[type='text']::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 0.9em;
  color: #bbb8b8;
}
.search-box input[type='text']::-ms-input-placeholder {
  /* IE 10+ */
  font-size: 0.9em;
  color: #bbb8b8;
}
.search-box input[type='text']::-moz-placeholder {
  /* Firefox 18- */
  font-size: 0.9em;
  color: #bbb8b8;
}
.search-box .search-type {
  float: left;
  width: 20%;
  border-left: 1px solid #ccc;
  height: 80%;
  margin-top: 4px;
  text-align: center;
}
.search-box .search-type .select-icons {
  padding: 5px;
  cursor: pointer;
}
.search-box .search-type .select-icons .fa-book {
  font-size: 1.5em;
  margin: 8px 4px 0 2px;
  color: #585a5a;
}
.search-box .search-type .select-icons .arrow {
  border: solid #585a5a;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin: 0px 0px 7px 2px;
}
.search-box .search-type .select-icons .arrow.up {
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  margin-bottom: 6px;
  display: none;
}
.search-box .search-type .select-icons .arrow.down {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  display: inline-block;
}
.search-box .search-type .select-icons.active .arrow.up {
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  display: inline-block;
}
.search-box .search-type .select-icons.active .arrow.down {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  display: none;
}
.search-box .btn-search {
  float: right;
  height: 105%;
  width: 15%;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background-color: #D0A44C;
  position: relative;
  bottom: 1px;
  right: -1px;
  border-radius: 0px 3px 3px 0px;
  padding: 0px;
}
.search-box .btn-search i {
  font-size: 2em;
  color: #fff;
  top: 4px;
}
.select-types-content {
  position: absolute;
  width: 100%;
  top: 44px;
  z-index: 1000;
  background-color: #fff;
  border-radius: 0px 0px 3px 3px;
  -webkit-box-shadow: 0px 1px 4px #777777;
  -moz-box-shadow: 0px 1px 4px #777777;
  -o-box-shadow: 0px 1px 4px #777777;
  box-shadow: 0px 1px 4px #777777;
  text-align: left;
  word-wrap: break-word;
  display: none;
}
.select-types-content.active {
  display: block;
}
.select-types-content .dict-type {
  list-style: none;
  padding: 0px;
  margin-bottom: 0px;
}
.select-types-content .dict-type li {
  position: relative;
  color: #585a5a;
  padding: 12px 0px 12px 10px;
  border-bottom: 1px solid #c0bdbc;
  font-size: 1.2em;
  cursor: pointer;
}
.select-types-content .dict-type li:hover {
  background-color: #f7f6f6;
}
.select-types-content .dict-type li:last-child {
  border: none;
}
.select-types-content .dict-type li.active:after {
  content: '';
  display: block;
  width: 8px;
  height: 15px;
  border: solid #585a5a;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  right: 15px;
  top: 15px;
}
.search-suggestion {
  position: absolute;
  width: 100%;
  top: 44px;
  background-color: #fff;
  z-index: 1000;
  border-radius: 0px 0px 3px 3px;
  text-align: left;
  word-wrap: break-word;
  -webkit-box-shadow: 0px 1px 4px #777777;
  -moz-box-shadow: 0px 1px 4px #777777;
  -o-box-shadow: 0px 1px 4px #777777;
  box-shadow: 0px 1px 4px #777777;
  margin-bottom: 20px;
}
.search-suggestion ul {
  list-style: none;
  padding: 0px;
  margin-bottom: 0px;
}
.search-suggestion ul li {
  border-bottom: 1px solid #ccc;
}
.search-suggestion ul li:hover {
  background-color: #f7f6f6;
}
.search-suggestion ul li.active {
  background-color: #e4e4e4;
}
.search-suggestion ul li a {
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  width: 100%;
}
.search-suggestion ul li:first-child {
  margin-top: 0px;
}
.search-suggestion ul li:last-child {
  border: none;
}
.search-suggestion ul li .word-name {
  color: #585a5a;
  font-size: 1.3em;
  margin: 2px 0px;
  font-weight: bold;
}
.search-suggestion ul li .word-name .phonetic-spelling {
  color: #d0a44c;
  font-size: 0.8em;
  font-weight: normal;
}
.search-suggestion ul li .word-mean {
  color: #585a5a;
}
.search-suggestion ul li .word-mean .main-type {
  color: #5fb84c;
}
/*-----------------------------------------------------------------------------------------------------------
450px
-----------------------------------------------------------------------------------------------------------*/
@media (min-width: 450px) {
  .search-box input[type=text] {
    width: 68%;
    padding: 3px 5px 0px 10px;
  }
  .search-box .search-type {
    width: 17%;
  }
}
@media (min-width: 600px) {
  .search-box input[type=text] {
    width: 70%;
  }
  .search-box .search-type {
    width: 15%;
  }
  .search-box .select-icons {
    margin: 8px 8px 0 5px;
  }
}
/*-----------------------------------------------------------------------------------------------------------
Tablet display
-----------------------------------------------------------------------------------------------------------*/
@media (min-width: 768px) {
  .search-section {
    height: 100px;
  }
  .search-box {
    margin-top: 25px;
    height: 50px;
  }
  .search-box input[type=text] {
    width: 75%;
    font-size: 1.5em;
    padding: 0px 5px 0px 10px;
  }
  .search-box .search-type {
    width: 11%;
    height: 90%;
    margin-top: 2px;
  }
  .search-box .search-type .select-icons .fa-book {
    font-size: 1.7em;
    top: 3px;
  }
  .search-box .search-type .select-icons .arrow {
    padding: 4px;
    margin: 0 0 7px 6px;
  }
  .search-box .search-type .select-icons .arrow.down {
    margin-bottom: 7px;
  }
  .search-box .search-type .select-icons .arrow.up {
    margin-bottom: 5px;
  }
  .search-box .btn-search {
    width: 14%;
  }
  .search-box .btn-search i {
    right: 0px;
    font-size: 2.5em;
  }
  .search-suggestion {
    top: 49px;
  }
  .select-types-content {
    top: 49px;
  }
}
/*-----------------------------------------------------------------------------------------------------------
Desktop display
-----------------------------------------------------------------------------------------------------------*/
@media (min-width: 1024px) {
  .search-section {
    height: auto;
    background: none;
    top: 0;
    left: 170px;
    z-index: 10001;
    width: 415px;
  }
  .search-box {
    height: 40px;
    margin-top: 19px;
    width: 400px;
  }
  .search-box input[type=text] {
    width: 70%;
    font-size: 1.5em;
    padding: 0 5px 2px 10px;
  }
  .search-box .btn-search {
    height: 104%;
  }
  .search-box .btn-search i {
    font-size: 1.9em;
  }
  .search-box .search-type {
    width: 16%;
  }
  .search-box .search-type .select-icons .fa-book {
    font-size: 1.5em;
    margin: 5px 4px 0 0;
  }
  .search-box .search-type .select-icons .arrow {
    margin: 0 0 7px 5px;
    padding: 4px;
  }
  .search-box .search-type .select-icons .arrow.down {
    margin-bottom: 5px;
  }
  .search-box .search-type .select-icons .arrow.up {
    margin-bottom: 1px;
  }
  .search-box .select-types-content {
    top: 39px;
  }
  .search-box .search-suggestion {
    top: 39px;
    max-height: 400px;
    overflow-y: auto;
  }
}
.mfp-content .container {
  position: relative;
}
.mfp-content .title {
  cursor: pointer;
  background-color: #999a9a;
  padding: 10px;
  color: #e6e6e6;
}
.mfp-content .content {
  padding: 20px 10px;
  min-height: 100px;
}
.mfp-content .mfp-close {
  right: 10px;
}
.home-page {
  /*-----------------------------------------------------------------------------------------------------------
    Tablet display
    -----------------------------------------------------------------------------------------------------------*/
  /*-----------------------------------------------------------------------------------------------------------
    Desktop display
    -----------------------------------------------------------------------------------------------------------*/
}
.home-page .search-section {
  position: relative !important;
  background-color: #2b2f14;
  height: 180px;
  width: inherit;
}
.home-page .search-section .container {
  text-align: center;
}
.home-page .search-section .bg-img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/images/search-section-bg.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.home-page .search-section h1 {
  display: block;
  color: #fff;
  font-size: 2em;
  margin-top: 35px;
}
.home-page .search-section .search-box {
  margin: 25px 15px 0px;
}
.home-page .about-section {
  background-color: #fff;
}
.home-page .about-section .about {
  font-size: 2em;
  font-weight: bold;
  color: #7b7b7b;
  letter-spacing: 2px;
  margin: 30px 0px 20px 0px;
}
.home-page .about-section .container {
  text-align: center;
}
.home-page .about-section .title {
  font-size: 1.2em;
  color: #7b7b7b;
  line-height: 27px;
  font-weight: bold;
}
.home-page .about-section .title .stands {
  color: #61bd4f;
  font-weight: bold;
}
.home-page .about-section .sub-title {
  color: #7b7b7b;
  font-size: 1.1em;
  line-height: 25px;
  margin-top: 19px;
}
.home-page .about-section .btn-signup {
  background: -webkit-linear-gradient(to bottom, #61bd4f 0, #5aac44 100%);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to bottom, #61bd4f 0, #5aac44 100%);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to bottom, #61bd4f 0, #5aac44 100%);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #61bd4f 0, #5aac44 100%);
  /* Standard syntax (must be last) */
  box-shadow: 0 2px 0 #38713b;
  color: #fff;
  font-weight: bold;
  margin-top: 10px;
  padding: 6px 10px;
}
.home-page .about-section p.log-in {
  margin-top: 15px;
  font-size: 1.1em;
  color: #7b7b7b;
}
.home-page .about-section p.log-in a {
  text-decoration: underline;
  color: #61bd4f;
}
@media (min-width: 768px) {
  .home-page .search-section {
    height: 270px;
  }
  .home-page .search-section h1 {
    font-size: 2.5em;
    margin-top: 70px;
    letter-spacing: 2px;
  }
  .home-page .search-section .search-box {
    width: 80%;
    margin: 40px auto 0px;
  }
  .home-page .search-section .search-box input[type=text] {
    width: 72%;
  }
  .home-page .search-section .search-box .search-type {
    width: 14%;
  }
  .home-page .about-section .about {
    font-size: 2.5em;
    margin-top: 50px;
  }
  .home-page .about-section .title {
    font-size: 1.5em;
    line-height: 30px;
    font-weight: 700;
  }
  .home-page .about-section .sub-title {
    font-size: 1.3em;
    line-height: 27px;
  }
  .home-page .about-section p.log-in {
    font-size: 1.3em;
  }
  .home-page .about-section .btn-signup {
    font-size: 1.2em;
    padding: 6px 12px;
  }
}
@media (min-width: 1024px) {
  .home-page .search-section {
    height: 300px;
    left: 0;
  }
  .home-page .search-section .bg-img {
    background-position: 50% 25%;
  }
  .home-page .search-section h1 {
    font-size: 3.5em;
    letter-spacing: 4px;
    margin-top: 70px;
  }
  .home-page .search-section .search-box {
    width: 65%;
    height: 60px;
    margin: 50px auto;
  }
  .home-page .search-section .search-box input[type='text'] {
    font-size: 1.8em;
  }
  .home-page .search-section .search-box .search-type {
    margin-top: 3px;
  }
  .home-page .search-section .search-box .search-type .fa-book {
    font-size: 2.1em;
    margin: 10px 5px 0 0;
  }
  .home-page .search-section .search-box .search-type .arrow {
    padding: 5px;
  }
  .home-page .search-section .search-box .search-type .arrow.down {
    margin-bottom: 10px;
  }
  .home-page .search-section .search-box .search-type .arrow.up {
    margin-bottom: 8px;
  }
  .home-page .search-section .search-box .select-types-content {
    top: 59px;
  }
  .home-page .search-section .search-box .search-suggestion {
    top: 59px;
  }
  .home-page .search-section.fix-top {
    position: fixed !important;
    width: 415px;
    height: auto;
    background: none;
    top: 0;
    left: 170px;
  }
  .home-page .search-section.fix-top .bg-img {
    display: none;
  }
  .home-page .search-section.fix-top h1 {
    display: none;
  }
  .home-page .search-section.fix-top .container {
    margin: 0px;
  }
  .home-page .search-section.fix-top .search-box {
    height: 40px;
    margin: 19px 0px 0px;
    width: 400px;
  }
  .home-page .search-section.fix-top .search-box input[type=text] {
    width: 70%;
    font-size: 1.5em;
    padding: 0 5px 2px 10px;
  }
  .home-page .search-section.fix-top .search-box .btn-search {
    height: 104%;
  }
  .home-page .search-section.fix-top .search-box .btn-search i {
    font-size: 1.9em;
  }
  .home-page .search-section.fix-top .search-box .search-type {
    width: 16%;
  }
  .home-page .search-section.fix-top .search-box .search-type .select-icons .fa-book {
    font-size: 1.5em;
    margin: 5px 4px 0 0;
  }
  .home-page .search-section.fix-top .search-box .search-type .select-icons .arrow {
    margin: 0 0 7px 5px;
    padding: 4px;
  }
  .home-page .search-section.fix-top .search-box .search-type .select-icons .arrow.down {
    margin-bottom: 5px;
  }
  .home-page .search-section.fix-top .search-box .search-type .select-icons .arrow.up {
    margin-bottom: 1px;
  }
  .home-page .search-section.fix-top .search-box .select-types-content {
    top: 39px;
  }
  .home-page .search-section.fix-top .search-box .search-suggestion {
    top: 39px;
    max-height: 400px;
    overflow-y: auto;
  }
  .home-page .about-section .about {
    font-size: 3em;
    margin: 70px 0 40px 0 !important;
  }
  .home-page .about-section .title {
    font-size: 2em;
    line-height: 40px;
    font-weight: normal;
  }
  .home-page .about-section .sub-title {
    font-size: 1.5em;
    color: #a9a9a9;
  }
  .home-page .about-section .btn-signup {
    font-size: 1.5em;
    margin: 40px 0px 10px 0px;
    padding: 6px 15px;
  }
}
@media (min-width: 1366px) {
  .home-page .search-section {
    height: 400px;
  }
  .home-page .search-section h1 {
    margin-top: 120px;
  }
  .home-page .search-section .search-box {
    margin: 60px auto;
  }
}
.signup-page .hero-title {
  font-size: 1.7em;
}
.signup-page .frm-signup {
  margin-top: 25px;
}
.signin-page .hero-title {
  font-size: 1.7em;
}
.signin-page .frm-signin {
  margin-top: 25px;
}
.signin-page .frm-signin .forgot-password {
  display: inline-block;
  margin-left: 10px;
}
.lists-page .lists .item {
  margin-top: 15px;
}
.lists-page .lists .item .title {
  font-weight: bold;
}
.searchresult-page {
  margin-top: 80px;
}
.searchresult-page .search-result .grambs,
.searchresult-page .search-result .etymologys {
  padding: 0px 10px;
}
.searchresult-page .search-result .gramb,
.searchresult-page .search-result .etymology {
  padding-bottom: 15px;
}
.searchresult-page .search-result .main-word {
  background-color: #fff;
  padding: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: '1px 1px 2px #ccc, -1px -1px 2px #dedddd';
  -moz-box-shadow: '1px 1px 2px #ccc, -1px -1px 2px #dedddd';
  -o-box-shadow: '1px 1px 2px #ccc, -1px -1px 2px #dedddd';
  box-shadow: '1px 1px 2px #ccc, -1px -1px 2px #dedddd';
  text-align: center;
}
.searchresult-page .search-result .main-word .word-name {
  font-size: 2.2em;
  font-weight: bold;
  margin: 10px;
}
.searchresult-page .search-result .main-word .pronunciation {
  margin-top: 7px;
}
.searchresult-page .search-result .main-word .pronunciation .sound-link {
  text-decoration: none;
}
.searchresult-page .search-result .main-word .pronunciation .sound-link .fa-volume-up {
  font-size: 1.7em;
  color: #026aa7;
  display: inline-block;
}
.searchresult-page .search-result .main-word .pronunciation .sound-link .fa-volume-up:hover {
  color: #025a8e;
}
.searchresult-page .search-result .main-word .pronunciation .phonetic-spelling {
  color: #d0a44c;
  font-size: 1.5em;
  margin-left: 10px;
}
.searchresult-page .search-result .main-word .actions {
  height: 35px;
  margin-top: 20px;
}
.searchresult-page .search-result .main-word .actions .shares {
  float: left;
}
.searchresult-page .search-result .main-word .actions .shares a {
  position: relative;
  width: 35px;
  height: 35px;
  border: 1px solid #ab2e18;
  border-radius: 50%;
  display: inline-block;
  margin-right: 3px;
}
.searchresult-page .search-result .main-word .actions .shares a .fa {
  position: absolute;
  font-size: 1.5em;
  top: 6px;
  color: #ab2e18;
}
.searchresult-page .search-result .main-word .actions .shares a .fa.fa-facebook {
  left: 10px;
}
.searchresult-page .search-result .main-word .actions .shares a .fa.fa-twitter {
  left: 8px;
}
.searchresult-page .search-result .main-word .actions .shares a .fa.fa-google-plus {
  left: 5px;
}
.searchresult-page .search-result .main-word .actions .btn-add-to-list {
  float: right;
  border: 1px dashed #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 1.1em;
  color: #6d6c6c;
  padding: 4px 0px 4px 20px;
  display: block;
  width: 107px;
  position: relative;
  text-decoration: none;
}
.searchresult-page .search-result .main-word .actions .btn-add-to-list .fa-plus {
  font-size: 0.8em;
  position: absolute;
  top: 9px;
  left: 9px;
  color: #6d6c6c;
}
.searchresult-page .search-result .mean-word {
  clear: both;
  background-color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: '1px 1px 2px #ccc, -1px -1px 2px #dedddd';
  -moz-box-shadow: '1px 1px 2px #ccc, -1px -1px 2px #dedddd';
  -o-box-shadow: '1px 1px 2px #ccc, -1px -1px 2px #dedddd';
  box-shadow: '1px 1px 2px #ccc, -1px -1px 2px #dedddd';
  margin-top: 10px;
}
.searchresult-page .search-result .mean-word .type-of-dict {
  padding: 0px 10px 5px 10px;
}
.searchresult-page .search-result .mean-word .type-of-dict p {
  color: #888;
}
.searchresult-page .search-result .mean-word .type-of-dict p .type {
  color: #337ab7;
  opacity: 0.7;
}
.searchresult-page .search-result .mean-word .definition-in {
  padding: 20px 10px 0px;
  display: block;
  font-size: 1.1em;
  color: #585a5a;
}
.searchresult-page .search-result .no-result {
  background-color: #fff;
  border-radius: 3px;
  min-height: 100px;
}
.searchresult-page .search-result .no-result h1 {
  margin: 0px;
  padding: 20px 10px;
  line-height: 25px;
  font-size: 1.1em;
  color: #3b3c3c;
  font-weight: normal;
}
.searchresult-page .search-result .type-of-word {
  border-top: 2px solid #ccc;
  margin-top: 10px;
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 6px;
  color: #d86f0f;
  cursor: pointer;
}
.searchresult-page .search-result .l1-container {
  margin-left: 25px;
}
.searchresult-page .search-result .l1-container .l1-mean {
  font-size: 1.2em;
  line-height: 25px;
  font-weight: bold;
  color: #484444;
}
.searchresult-page .search-result .l1-container .l1-mean .l1-index {
  position: absolute;
  margin-left: -25px;
}
.searchresult-page .search-result .l2-container {
  margin-left: 37px;
}
.searchresult-page .search-result .l2-container .l2-mean {
  font-size: 1.1em;
  line-height: 25px;
  font-weight: bold;
  color: #484444;
}
.searchresult-page .search-result .l2-container .l2-mean .l2-index {
  position: absolute;
  margin-left: -37px;
}
.searchresult-page .search-result .level1-strong-mean,
.searchresult-page .search-result .level2-strong-mean {
  font-weight: bold;
}
.searchresult-page .search-result .level1-strong-mean:before,
.searchresult-page .search-result .level2-strong-mean:before {
  content: '(';
  font-weight: normal;
}
.searchresult-page .search-result .level1-strong-mean:after,
.searchresult-page .search-result .level2-strong-mean:after {
  content: ') ';
  font-weight: normal;
}
.searchresult-page .search-result .no-object {
  color: #23aba0;
}
.searchresult-page .search-result .no-object:before {
  content: ' [';
}
.searchresult-page .search-result .no-object:after {
  content: '] ';
}
.searchresult-page .search-result .ex {
  font-size: 1.1em;
  font-style: italic;
  font-weight: 300;
  color: #585454;
  padding: 3px 0px;
}
.searchresult-page .search-result .more-examples .exg {
  display: none;
  padding-top: 15px;
}
.searchresult-page .search-result .more-examples .btn-more-exg {
  position: relative;
  padding-left: 24px;
  color: #848484;
  border: 1px dashed #ccc;
  outline: none;
  cursor: pointer;
}
.searchresult-page .search-result .more-examples .btn-more-exg:active,
.searchresult-page .search-result .more-examples .btn-more-exg:hover,
.searchresult-page .search-result .more-examples .btn-more-exg:visited {
  background-color: #fff;
}
.searchresult-page .search-result .more-examples .btn-more-exg:before {
  position: absolute;
  content: "+";
  top: -1px;
  left: 5px;
  font-size: 1.5em;
  color: #848484;
}
.searchresult-page .search-result .more-examples .btn-more-exg.collapsed:before {
  content: "\2013";
  top: 1px;
}
.searchresult-page .search-result .etymology .l1-container .l1-phase {
  font-size: 1.1em;
  line-height: 25px;
  font-weight: bold;
  color: #484444;
}
.searchresult-page .search-result .etymology .l1-container .l1-phase .l1-index {
  position: absolute;
  margin-left: -25px;
}
.searchresult-page .search-result .etymology .l1-container .l1-mean {
  font-size: 1.1em;
  line-height: 20px;
  color: #848181;
  margin-top: 15px;
  border-left: 5px solid #ccc;
  padding-left: 5px;
}
.searchresult-page .search-result .en-vi .gramb {
  padding-bottom: 0px;
}
.searchresult-page .search-result .en-vi .type-of-word {
  margin-top: 25px;
}
.searchresult-page .search-result .en-vi .type-of-word:first-child {
  margin-top: 10px;
}
.searchresult-page .search-result .en-vi .l1-container {
  position: relative;
  margin-left: 20px;
}
.searchresult-page .search-result .en-vi .l1-container .l1-mean {
  font-size: 1.2em;
}
.searchresult-page .search-result .en-vi .l1-container .l1-dot-icon {
  width: 8px;
  height: 8px;
  background-color: #d86f0f;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  margin-left: -20px;
  top: 10px;
}
.searchresult-page .search-result .en-vi .l1-container .sentences .l1-sentence {
  font-size: 1.1em;
  line-height: 20px;
  color: #656363;
  margin-top: 15px;
  border-left: 5px solid #ccc;
  padding-left: 5px;
}
.searchresult-page .search-result .en-vi .l1-container .sentences .l1-translate {
  margin-left: 10px;
}
.searchresult-page .search-result .en-vi .l1-container:last-child {
  padding-bottom: 15px;
}
.searchresult-page .search-result .en-vi .l1-container.idiom .l2-container {
  margin-left: 0px;
}
.searchresult-page .search-result .en-vi .l1-container.idiom .l2-container .l2-mean {
  margin-top: 0px;
}
.searchresult-page .search-result .en-vi .l1-container.idiom .l2-dot-icon {
  width: 6px;
  height: 6px;
  background-color: #484444;
  display: inline-block;
  margin-right: 10px;
}
.searchresult-page .search-result .en-vi .l1-container.idiom .l3-container {
  margin-left: 15px;
}
.searchresult-page .search-result .en-vi .l1-container.idiom .l3-container .l3-sentence {
  font-size: 1.1em;
  line-height: 20px;
  color: #848181;
  margin-top: 15px;
  border-left: 5px solid #ccc;
  padding-left: 5px;
}
.searchresult-page .search-result .en-vi .l1-container.idiom .l3-container .l3-translate {
  margin-left: 10px;
}
@media (min-width: 768px) {
  .searchresult-page {
    margin-top: 100px;
  }
  .searchresult-page .search-result .main-word .word-name {
    font-size: 3em;
  }
  .searchresult-page .search-result .main-word .pronunciation .sound-link .fa-volume-up {
    font-size: 2em;
    top: 7px;
    left: 0px;
  }
  .searchresult-page .search-result .main-word .pronunciation .phonetic-spelling {
    font-size: 2em;
  }
  .searchresult-page .search-result .main-word .actions {
    height: 45px;
    margin-top: 30px;
  }
  .searchresult-page .search-result .main-word .actions .shares a {
    width: 45px;
    height: 45px;
    margin-right: 8px;
  }
  .searchresult-page .search-result .main-word .actions .shares a .fa {
    top: 10px;
    font-size: 1.9em;
  }
  .searchresult-page .search-result .main-word .actions .shares a .fa.fa-facebook {
    left: 13px;
  }
  .searchresult-page .search-result .main-word .actions .shares a .fa.fa-twitter {
    left: 11px;
  }
  .searchresult-page .search-result .main-word .actions .shares a .fa.fa-google-plus {
    left: 7px;
  }
  .searchresult-page .search-result .main-word .actions .btn-add-to-list {
    font-size: 1.5em;
    padding: 5px 0 5px 20px;
    width: 145px;
  }
  .searchresult-page .search-result .main-word .actions .btn-add-to-list .fa-plus {
    top: 12px;
  }
  .searchresult-page .search-result .mean-word {
    padding: 20px;
  }
  .searchresult-page .search-result .mean-word .definition-in {
    padding: 0px;
    font-size: 1.3em;
  }
  .searchresult-page .search-result .mean-word .type-of-dict {
    padding: 0px 0px 5px 0px;
    font-size: 1.1em;
  }
  .searchresult-page .search-result .type-of-word {
    font-size: 1.3em;
  }
  .searchresult-page .search-result .grambs,
  .searchresult-page .search-result .etymologys {
    padding: 0px;
  }
  .searchresult-page .search-result .l1-container {
    margin-left: 35px;
  }
  .searchresult-page .search-result .l1-container .l1-mean {
    font-size: 1.4em;
  }
  .searchresult-page .search-result .l1-container .l1-mean .l1-index {
    margin-left: -35px;
  }
  .searchresult-page .search-result .l2-container {
    margin-left: 45px;
  }
  .searchresult-page .search-result .l2-container .l2-mean {
    font-size: 1.3em;
  }
  .searchresult-page .search-result .l2-container .l2-mean .l2-index {
    margin-left: -45px;
  }
  .searchresult-page .search-result .ex {
    font-size: 1.3em;
  }
  .searchresult-page .search-result .etymology .l1-container .l1-phase {
    font-size: 1.4em;
  }
  .searchresult-page .search-result .etymology .l1-container .l1-phase .l1-index {
    margin-left: -35px;
  }
  .searchresult-page .search-result .etymology .l1-container .l1-mean {
    font-size: 1.3em;
  }
  .searchresult-page .search-result .en-vi .grambs {
    padding: 0px;
  }
  .searchresult-page .search-result .en-vi .l1-container .l1-mean {
    font-size: 1.4em;
  }
  .searchresult-page .search-result .en-vi .l1-container .sentences .l1-sentence {
    font-size: 1.3em;
  }
  .searchresult-page .search-result .en-vi .l1-container .sentences .l1-translate {
    font-size: 1.2em;
  }
}
@media (min-width: 1024px) {
  .searchresult-page {
    margin-top: 0px;
  }
  .searchresult-page .search-result {
    padding-top: 10px;
  }
  .searchresult-page .search-result .l1-container .l1-mean {
    font-size: 1.3em;
  }
  .searchresult-page .search-result .ex {
    font-size: 1.1em;
  }
  .searchresult-page .search-result .l2-container .l2-mean {
    font-size: 1.1em;
  }
  .searchresult-page .search-result .etymology .l1-container .l1-phase {
    font-size: 1.3em;
  }
  .searchresult-page .search-result .etymology .l1-container .l1-mean {
    font-size: 1.1em;
    color: #656363;
  }
  .searchresult-page .search-result .en-vi .l1-container .l1-mean {
    font-size: 1.2em;
  }
  .searchresult-page .search-result .en-vi .l1-container .sentences .l1-sentence {
    font-size: 1.1em;
  }
  .searchresult-page .search-result .en-vi .l1-container .sentences .l1-translate {
    font-size: 1.1em;
  }
  .searchresult-page .search-result .en-vi .l1-container.idiom .l2-container .l2-mean {
    font-size: 1.1em;
  }
  .searchresult-page .search-result .no-result {
    font-size: 1.7em;
    line-height: initial;
  }
}
.libraries-page {
  margin-top: 80px;
}
.libraries-page .search-list {
  height: 40px;
  margin: 10px 0px 20px;
  border: 1px solid #ccc;
  position: relative;
}
.libraries-page .search-list .txtListName {
  font-size: 1.3em;
  width: 100%;
  height: 40px;
  padding: 0px 55px 0px 10px;
  border: 0;
  background-color: transparent;
  border-radius: 2px;
  outline: none;
}
.libraries-page .search-list .txtListName::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 0.9em;
  color: #bbb8b8;
}
.libraries-page .search-list .txtListName::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 0.9em;
  color: #bbb8b8;
}
.libraries-page .search-list .txtListName::-ms-input-placeholder {
  /* IE 10+ */
  font-size: 0.9em;
  color: #bbb8b8;
}
.libraries-page .search-list .txtListName::-moz-placeholder {
  /* Firefox 18- */
  font-size: 0.9em;
  color: #bbb8b8;
}
.libraries-page .search-list .txtListName:hover {
  -webkit-box-shadow: 0px 0px 5px #cacaca;
  -moz-box-shadow: 0px 0px 5px #cacaca;
  -o-box-shadow: 0px 0px 5px #cacaca;
  box-shadow: 0px 0px 5px #cacaca;
  background-color: #fff;
}
.libraries-page .search-list .filter-lib {
  position: absolute;
  top: 4px;
  right: 0;
  width: 55px;
  height: 30px;
  border-left: 1px solid #ccc;
  text-align: center;
}
.libraries-page .search-list .filter-lib .custom-arrow i {
  margin: 7px 0px 0px;
  padding: 6px;
}
.libraries-page .search-list .filter-lib .custom-arrow i.down {
  display: inline-block;
}
.libraries-page .search-list .filter-lib .custom-arrow i.up {
  margin: 12px 0px 0px;
  display: none;
}
.libraries-page .search-list .filter-lib.active .custom-arrow i.down {
  display: none;
}
.libraries-page .search-list .filter-lib.active .custom-arrow i.up {
  display: inline-block;
}
.libraries-page .search-list .filter-lib .selected {
  display: none;
  color: #ccc;
}
.libraries-page .search-list .lib-types {
  display: none;
  position: absolute;
  margin: 0px;
  padding: 0px;
  top: 40px;
  left: 0px;
  width: 100%;
  list-style: none;
  background-color: #fff;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 1px 4px #777;
  z-index: 1;
}
.libraries-page .search-list .lib-types.active {
  display: block;
}
.libraries-page .search-list .lib-types li {
  position: relative;
  color: #585a5a;
  padding: 12px 0 12px 10px;
  border-bottom: 1px solid #c0bdbc;
  font-size: 1.2em;
}
.libraries-page .search-list .lib-types li:last-child {
  border: none;
}
.libraries-page .search-list .lib-types li:hover {
  background-color: #f7f6f6;
}
.libraries-page .search-list .lib-types li.active:after {
  content: '';
  display: block;
  width: 8px;
  height: 15px;
  border: solid #585a5a;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  right: 15px;
  top: 15px;
}
.libraries-page .lists {
  clear: both;
}
.libraries-page .lists .title {
  position: relative;
  color: #c16109;
  text-transform: uppercase;
  font-size: 1.2em;
  margin: 30px 0px;
}
.libraries-page .lists .title .list-number {
  display: inline-block;
  min-width: 10px;
  padding: 2px 7px;
  font-size: 1em;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #c16109;
  border-radius: 10px;
  margin-right: 5px;
}
.libraries-page .lists .title .exp-col {
  position: absolute;
  right: 4px;
}
.libraries-page .lists .title .exp-col i {
  color: #999a9a;
  font-size: 1.2em;
}
.libraries-page .lists .list-wrapper {
  padding: 0px;
}
.libraries-page .lists .list-wrapper:last-child .list:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.7;
}
.libraries-page .lists .list-wrapper:last-child .list:after {
  content: "XEM \a TẤT CẢ";
  white-space: pre;
  position: absolute;
  width: 100px;
  height: 100px;
  border: solid 3px #fff;
  background-color: #5fb94c;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
  border-radius: 50%;
  padding-top: 30px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  letter-spacing: 1px;
  line-height: 22px;
  z-index: 2;
}
.libraries-page .lists .list {
  position: relative;
  cursor: pointer;
  background-color: #fff;
  margin-bottom: 30px;
  top: 0px;
  -webkit-box-shadow: 0 0 5px #a7a1a1;
  -moz-box-shadow: 0 0 5px #a7a1a1;
  -o-box-shadow: 0 0 5px #a7a1a1;
  box-shadow: 0 0 5px #a7a1a1;
  -webkit-transition: top .35s ease-out, box-shadow .35s ease-out;
  -moz-transition: top .35s ease-out, box-shadow .35s ease-out;
  -o-transition: top .35s ease-out, box-shadow .35s ease-out;
  transition: top .35s ease-out, box-shadow .35s ease-out;
}
.libraries-page .lists .list .list-img {
  position: relative;
  width: 100%;
  height: 170px;
  overflow: hidden;
}
.libraries-page .lists .list .list-img img {
  width: 100%;
}
.libraries-page .lists .list .list-img .list-actions {
  position: absolute;
  top: 5px;
  right: 5px;
}
.libraries-page .lists .list .list-img .list-actions .action {
  display: block;
  width: 30px;
  height: 30px;
  color: #fff;
  text-align: center;
  padding-top: 5px;
  cursor: pointer;
  margin-bottom: 3px;
}
.libraries-page .lists .list .list-img .list-actions .action.facebook {
  background-color: #4E71A8;
}
.libraries-page .lists .list .list-img .list-actions .action.twitter {
  background-color: #1CB7EB;
}
.libraries-page .lists .list .list-img .list-actions .action.google-plus {
  background-color: #E3411F;
}
.libraries-page .lists .list .list-title {
  text-align: center;
}
.libraries-page .lists .list .list-title h2 {
  max-height: 100px;
  overflow: hidden;
  font-size: 1.4em;
  font-weight: bold;
  margin: 15px 0px;
  padding: 0px 5px;
  line-height: 30px;
  color: #575858;
}
.libraries-page .lists .list .list-footer {
  border-top: 1px solid #dedbdb;
}
.libraries-page .lists .list .list-footer p {
  padding: 5px;
  text-align: center;
  color: #6f7171;
}
.libraries-page .lists .list .list-footer p .learned-point,
.libraries-page .lists .list .list-footer p .unlearned-point {
  display: block;
  font-size: 1.8em;
}
.libraries-page .lists .list .list-footer p .learned-point {
  color: #60ba4d;
}
.libraries-page .lists .list .list-footer p .unlearned-point {
  color: #e6431a;
}
.libraries-page .lists .list .list-footer .pull-left,
.libraries-page .lists .list .list-footer .pull-right {
  width: 50%;
}
.libraries-page .lists .list .list-footer .pull-left {
  border-right: 1px solid #dedbdb;
}
.libraries-page .right-menu {
  display: none;
}
@media (min-width: 768px) {
  .libraries-page {
    margin-top: 100px;
  }
  .libraries-page .lists {
    float: left;
    padding-top: 5px;
    margin: 0px -15px;
  }
  .libraries-page .lists .title {
    margin: 15px 15px 20px;
  }
  .libraries-page .lists .list-wrapper {
    padding: 0px 15px;
  }
  .libraries-page .lists .list .list-title {
    height: 100px;
  }
}
@media (min-width: 1024px) {
  .libraries-page {
    margin-top: 0px;
  }
  .libraries-page .search-list {
    margin: 30px 15px 20px;
  }
  .libraries-page .search-list .txtListName {
    height: 40px;
    font-size: 1.3em;
  }
  .libraries-page .lists {
    margin: 0px;
  }
  .libraries-page .lists .list:hover:hover {
    top: -5px;
    -webkit-box-shadow: 0 0 25px #a7a1a1;
    -moz-box-shadow: 0 0 25px #a7a1a1;
    -o-box-shadow: 0 0 25px #a7a1a1;
    box-shadow: 0 0 25px #a7a1a1;
  }
  .libraries-page .lists .list:hover .list-img .list-actions {
    display: block;
  }
  .libraries-page .lists .list .list-title h2 {
    font-size: 1.1em;
    line-height: 25px;
  }
  .libraries-page .lists .list .list-img .list-actions {
    display: none;
  }
  .libraries-page .right-menu {
    display: block;
  }
  .libraries-page .right-menu .section-user-info {
    background-color: #fff;
    height: 200px;
  }
}
.learn-page .main-quiz-wrapper {
  background-color: #ccc;
  margin: 18px 5px;
  border-radius: 20px;
}
.learn-page .main-quiz-wrapper #progress-keeper {
  height: 70px;
}
.learn-page .main-quiz-wrapper .question-container {
  position: relative;
}
.learn-page .main-quiz-wrapper .question-container.hide-item {
  display: none;
}
.learn-page .main-quiz-wrapper .question-container.type-1 .answer .item {
  height: 150px;
}
.learn-page .main-quiz-wrapper .question-container.type-1 .answer .item img {
  max-width: 100%;
  max-height: 100%;
}
.learn-page .main-quiz-wrapper .question-container.type-2 .question .images .image {
  height: 100px;
  margin-top: 15px;
}
.learn-page .main-quiz-wrapper .question-container.type-2 .question .images .image img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}
.learn-page .main-quiz-wrapper .question-container.type-2 .question .title {
  text-align: center;
}
.learn-page .main-quiz-wrapper .question-container.type-2 .answer .txt-answer {
  margin: 0 auto;
  display: block;
}
.learn-page .main-quiz-wrapper .question-container .buttons {
  position: absolute;
  right: 15px;
  bottom: -70px;
  z-index: 10;
}
.learn-page .main-quiz-wrapper #notice {
  margin-top: 20px;
  background-color: #d5efd5;
  height: 70px;
  border-radius: 0 0 20px 20px;
  position: relative;
}
.learn-page .main-quiz-wrapper #notice .btn-ignore {
  margin: 15px 0px 0px 15px;
}
