/*-----------------------------------------------------------------------------------------------------------
color
-----------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------
CSS3 PROPERTIES 
-----------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------
Global
-----------------------------------------------------------------------------------------------------------*/
html,
body {
  height: 100%;
}
body.mobile-menu {
  position: fixed;
  overflow: hidden;
}
.main {
  position: relative;
  left: 0;
  -webkit-transition: left 0.3s ease-in;
  -moz-transition: left 0.3s ease-in;
  -o-transition: left 0.3s ease-in;
  transition: left 0.3s ease-in;
  padding-top: 65px;
}
.mobile-menu .main {
  left: -80%;
}
.mobile-menu .overlay-bg {
  background-color: #000;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
}
.ajax-overlay {
  position: absolute;
  background-color: #ffffff;
}
/*-----------------------------------------------------------------------------------------------------------
Select
-----------------------------------------------------------------------------------------------------------*/
.select {
  position: relative;
  display: inline-block;
  width: 100%;
}
.select select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  color: #7b7b7b;
  border: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  outline: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select select::-ms-expand {
  display: none;
}
.select select:disabled {
  pointer-events: none;
  opacity: .5;
}
.select__arrow {
  position: absolute;
  top: 12px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-width: 8px 5px 0 5px;
  border-style: solid;
  border-color: #7b7b7b transparent transparent transparent;
}
.select select:disabled ~ .select__arrow {
  border-top-color: #ccc;
}
/*-----------------------------------------------------------------------------------------------------------
Main Menu
-----------------------------------------------------------------------------------------------------------*/
.main-menu {
  position: fixed;
  width: 80%;
  right: -80%;
  -webkit-transition: right 0.3s ease-in;
  -moz-transition: right 0.3s ease-in;
  -o-transition: right 0.3s ease-in;
  transition: right 0.3s ease-in;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 9999;
}
.main-menu ul {
  position: absolute;
  list-style: none;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #026AA7;
  padding: 0px;
}
.main-menu ul li {
  display: block;
  padding: 17px 0px 18px 0px;
  border-bottom: 1px solid #91ab96;
}
.main-menu ul li:last-child {
  border-bottom: 0px;
}
.main-menu ul li a {
  color: #e4ecff;
  font-size: 1.5em;
  display: block;
  text-align: center;
}
/*-----------------------------------------------------------------------------------------------------------
Header
-----------------------------------------------------------------------------------------------------------*/
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transition: left 0.3s ease-in;
  -moz-transition: left 0.3s ease-in;
  -o-transition: left 0.3s ease-in;
  transition: left 0.3s ease-in;
  background-color: #026AA7;
  height: 65px;
  z-index: 10000;
}
header .logo {
  float: left;
  width: 115px;
  margin-top: 4px;
  margin-left: 8px;
}
header .logo a {
  color: #fff;
}
header .logo h1 {
  font-size: 2.3em;
  margin: 10px 0px 0px 10px;
  display: inline-block;
}
header .logo .voca {
  font-size: 1.8em;
  color: #f1f0d0;
  display: inline-block;
  margin-left: 3px;
  letter-spacing: 2px;
}
header .right-menu .btn-login {
  display: none;
}
header .right-menu .btn-signup {
  background: -webkit-linear-gradient(to bottom, #61bd4f 0, #5aac44 100%);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to bottom, #61bd4f 0, #5aac44 100%);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to bottom, #61bd4f 0, #5aac44 100%);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #61bd4f 0, #5aac44 100%);
  /* Standard syntax (must be last) */
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
  color: #fff;
  font-weight: bold;
  margin: 0px 0px 19px 5px;
  padding: 4px 7px;
}
header .toggle-menu {
  font-size: 2.2em;
  margin: 15px 20px 0px 10px;
  color: #fff;
}
header .toggle-menu.glyphicon-remove {
  display: none;
}
/*-----------------------------------------------------------------------------------------------------------
Mobile
-----------------------------------------------------------------------------------------------------------*/
.mobile-menu header {
  left: -80%;
}
.mobile-menu header .btn-signup {
  display: none;
}
.mobile-menu header .toggle-menu.glyphicon-menu-hamburger {
  display: none;
}
.mobile-menu header .toggle-menu.glyphicon-remove {
  display: block;
}
.mobile-menu .main-menu {
  right: 0;
}
/*-----------------------------------------------------------------------------------------------------------
Tablet display
-----------------------------------------------------------------------------------------------------------*/
@media (min-width: 768px) {
  header .right-menu .toggle-menu {
    display: none;
  }
  header .btn-login {
    display: inline-block !important;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
    margin: 16px 0px 19px 5px;
    padding: 4px 15px;
    background-color: rgba(0, 0, 0, 0.15);
  }
  header .btn-login:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.25);
  }
  header .btn-signup {
    margin: 16px 20px 19px 10px !important;
    padding: 4px 10px !important;
  }
}
/*-----------------------------------------------------------------------------------------------------------
Desktop display
-----------------------------------------------------------------------------------------------------------*/
@media (min-width: 1024px) {
  header {
    height: 80px;
  }
  header .logo {
    width: 150px;
  }
  header .logo h1 {
    font-size: 3em;
  }
  header .logo .voca {
    font-size: 2.5em;
  }
  header .right-menu .toggle-menu {
    display: none;
  }
  header .btn-login {
    display: inline-block !important;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
    margin: 20px 0px 19px 5px;
    padding: 4px 18px;
    font-size: 1.4em;
    background-color: rgba(0, 0, 0, 0.15);
  }
  header .btn-login:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.25);
  }
  header .btn-signup {
    margin: 20px 20px 19px 10px !important;
    padding: 4px 13px !important;
    font-size: 1.4em;
  }
  header .btn-signup:hover {
    background: -webkit-linear-gradient(to bottom, #61bd4f 0, #38964c 100%) !important;
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(to bottom, #61bd4f 0, #38964c 100%) !important;
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to bottom, #61bd4f 0, #38964c 100%) !important;
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, #61bd4f 0, #38964c 100%) !important;
    /* Standard syntax (must be last) */
  }
}
.search-box {
  position: relative;
  margin: 30px 5px;
  height: 45px;
  background-color: #fff;
  border: 1px solid #e4e4e4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.search-box ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #bbb8b8;
}
.search-box ::-moz-placeholder {
  /* Firefox 19+ */
  color: #bbb8b8;
}
.search-box :-ms-input-placeholder {
  /* IE 10+ */
  color: #bbb8b8;
}
.search-box :-moz-placeholder {
  /* Firefox 18- */
  color: #bbb8b8;
}
.search-box .frmSearch {
  height: 100%;
}
.search-box input[type='text'] {
  width: 65%;
  height: 100%;
  font-size: 1.3em;
  padding-left: 10px;
  padding-right: 5px;
  background-color: transparent;
  border: 0px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  outline: none;
  color: #7b7b7b;
  float: left;
}
.search-type {
  float: left;
  width: 20%;
  border-left: 1px solid #ccc;
  height: 80%;
  margin-top: 4px;
}
.search-type .select {
  height: 100%;
}
.search-type .select select {
  font-size: 1.1em;
  font-weight: bold;
  padding: 7px 25px 7px 10px;
  background-color: transparent !important;
}
.search-type .select .select__arrow {
  top: 12px;
  right: 10px;
}
.btn-search {
  float: right;
  height: 100%;
  width: 15%;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background-color: #D0A44C;
  position: relative;
}
.btn-search i {
  font-size: 2em;
  color: #fff;
  top: 4px;
  right: 5px;
}
.search-suggestion {
  position: absolute;
  width: 100%;
  top: 44px;
  background-color: #f3e1bc;
  z-index: 1000;
  border-radius: 0px 0px 3px 3px;
  text-align: left;
  word-wrap: break-word;
}
.search-suggestion ul {
  list-style: none;
  padding: 10px 10px 0px;
}
.search-suggestion ul .fl {
  font-size: 1.3em;
  color: #026AA7;
}
.search-suggestion ul .fr.hl {
  display: none;
}
.search-suggestion ul p {
  font-size: 1em;
  color: #777977;
}
.mfp-content {
  background-color: #fff;
}
.mfp-content .popup {
  display: block;
}
.home-page {
  /*-----------------------------------------------------------------------------------------------------------
    Tablet display
    -----------------------------------------------------------------------------------------------------------*/
  /*-----------------------------------------------------------------------------------------------------------
    Desktop display
    -----------------------------------------------------------------------------------------------------------*/
}
.home-page .search-section {
  position: relative;
  background-color: #63634d;
  padding-bottom: 20px;
}
.home-page .search-section .container {
  text-align: center;
}
.home-page .search-section .bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/images/search-section-bg.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.3;
  filter: alpha(opacity=20);
}
.home-page .search-section h2 {
  color: #fff;
  font-size: 2.1em;
  margin-top: 35px;
  font-weight: bold;
}
.home-page .search-section .sub-title {
  font-size: 1.3em;
  color: #a9a9a9;
  line-height: 30px;
}
.home-page .about-section {
  background-color: #fff;
}
.home-page .about-section .about {
  font-size: 2em;
  font-weight: bold;
  color: #7b7b7b;
  letter-spacing: 2px;
  margin: 30px 0px 20px 0px;
}
.home-page .about-section .container {
  text-align: center;
}
.home-page .about-section .title {
  font-size: 1.2em;
  color: #7b7b7b;
  line-height: 27px;
  font-weight: bold;
}
.home-page .about-section .title .stands {
  color: #61bd4f;
  font-weight: bold;
}
.home-page .about-section .sub-title {
  color: #7b7b7b;
  font-size: 1.1em;
  line-height: 25px;
  margin-top: 19px;
}
.home-page .about-section .btn-signup {
  background: -webkit-linear-gradient(to bottom, #61bd4f 0, #5aac44 100%);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to bottom, #61bd4f 0, #5aac44 100%);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to bottom, #61bd4f 0, #5aac44 100%);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #61bd4f 0, #5aac44 100%);
  /* Standard syntax (must be last) */
  box-shadow: 0 2px 0 #38713b;
  color: #fff;
  font-weight: bold;
  margin-top: 10px;
  padding: 6px 10px;
}
.home-page .about-section p.log-in {
  margin-top: 15px;
  font-size: 1.1em;
  color: #7b7b7b;
}
.home-page .about-section p.log-in a {
  text-decoration: underline;
  color: #61bd4f;
}
@media (min-width: 768px) {
  .home-page .search-section h2 {
    font-size: 3em;
    margin-top: 100px;
    letter-spacing: 2px;
  }
  .home-page .search-section .search-box {
    width: 60%;
    height: 50px;
    margin: 50px auto;
  }
  .home-page .search-section .search-box input[type=text] {
    width: 72%;
    font-size: 1.5em;
  }
  .home-page .search-section .search-box .search-type {
    width: 15%;
    height: 90%;
  }
  .home-page .search-section .search-box .search-type .select select {
    font-size: 1.3em;
    padding: 9px 25px 7px 15px;
  }
  .home-page .search-section .search-box .search-type .select .select__arrow {
    top: 17px;
  }
  .home-page .search-section .search-box .btn-search {
    width: 13%;
  }
  .home-page .search-section .search-box .btn-search i {
    right: 0px;
  }
  .home-page .search-section .search-suggestion {
    top: 49px;
  }
  .home-page .about-section .about {
    font-size: 2.5em;
    margin-top: 50px;
  }
  .home-page .about-section .title {
    font-size: 1.5em;
    line-height: 30px;
    font-weight: 700;
  }
  .home-page .about-section .sub-title {
    font-size: 1.3em;
    line-height: 27px;
  }
  .home-page .about-section p.log-in {
    font-size: 1.3em;
  }
  .home-page .about-section .btn-signup {
    font-size: 1.2em;
    padding: 6px 12px;
  }
}
@media (min-width: 1024px) {
  .home-page .search-section .bg-img {
    background-position: 50% 33%;
  }
  .home-page .search-section h2 {
    font-size: 4em;
    letter-spacing: 4px;
  }
  .home-page .search-section .sub-title {
    font-size: 1.8em;
    letter-spacing: 1px;
  }
  .home-page .search-section .search-box {
    height: 60px;
    width: 55%;
  }
  .home-page .search-section .search-box input[type=text] {
    font-size: 1.7em;
  }
  .home-page .search-section .search-box .search-type .select select {
    font-size: 1.6em;
    padding: 11px 25px 7px 20px !important;
  }
  .home-page .search-section .search-box .search-type .select .select__arrow {
    top: 21px;
    right: 15px;
    border-width: 11px 7px 0;
  }
  .home-page .search-section .search-suggestion {
    top: 59px;
    max-height: 300px;
    overflow-y: auto;
  }
  .home-page .about-section .about {
    font-size: 3em;
    margin: 70px 0 40px 0 !important;
  }
  .home-page .about-section .title {
    font-size: 2em;
    line-height: 40px;
    font-weight: normal;
  }
  .home-page .about-section .sub-title {
    font-size: 1.5em;
    color: #a9a9a9;
  }
  .home-page .about-section .btn-signup {
    font-size: 1.5em;
    margin: 40px 0px 10px 0px;
    padding: 6px 15px;
  }
}
.signup-page .hero-title {
  font-size: 1.7em;
}
.signup-page .frm-signup {
  margin-top: 25px;
}
.signin-page .hero-title {
  font-size: 1.7em;
}
.signin-page .frm-signin {
  margin-top: 25px;
}
.signin-page .frm-signin .forgot-password {
  display: inline-block;
  margin-left: 10px;
}
.lists-page .lists .item {
  margin-top: 15px;
}
.lists-page .lists .item .title {
  font-weight: bold;
}
.learn-page .main-quiz-wrapper {
  background-color: #ccc;
  margin: 18px 5px;
  border-radius: 20px;
}
.learn-page .main-quiz-wrapper #progress-keeper {
  height: 70px;
}
.learn-page .main-quiz-wrapper .question-container {
  position: relative;
}
.learn-page .main-quiz-wrapper .question-container.hide-item {
  display: none;
}
.learn-page .main-quiz-wrapper .question-container.type-1 .answer .item {
  height: 150px;
}
.learn-page .main-quiz-wrapper .question-container.type-1 .answer .item img {
  max-width: 100%;
  max-height: 100%;
}
.learn-page .main-quiz-wrapper .question-container.type-2 .question .images .image {
  height: 100px;
  margin-top: 15px;
}
.learn-page .main-quiz-wrapper .question-container.type-2 .question .images .image img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}
.learn-page .main-quiz-wrapper .question-container.type-2 .question .title {
  text-align: center;
}
.learn-page .main-quiz-wrapper .question-container.type-2 .answer .txt-answer {
  margin: 0 auto;
  display: block;
}
.learn-page .main-quiz-wrapper .question-container .buttons {
  position: absolute;
  right: 15px;
  bottom: -70px;
  z-index: 10;
}
.learn-page .main-quiz-wrapper #notice {
  margin-top: 20px;
  background-color: #d5efd5;
  height: 70px;
  border-radius: 0 0 20px 20px;
  position: relative;
}
.learn-page .main-quiz-wrapper #notice .btn-ignore {
  margin: 15px 0px 0px 15px;
}
