.home-page {
    .search-section {        
        position: relative !important;
        background-color: #2b2f14;     
        height: 180px;
        width: inherit;

        .container {
            text-align: center;
        }

        .bg-img {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('/images/search-section-bg.jpg');
            background-repeat: no-repeat;
            background-position: 50% 50%;
            .backgroundSize(cover);
            opacity: 0.2;
            filter: alpha(opacity=20);
        }
        
        h1 {
            display: block;
            color: #fff;
            font-size: 2em;
            margin-top: 35px;            
        } 

        .search-box {
            margin: 25px 15px 0px;
        }                      
    }

    .about-section {
        background-color: #fff;
        .about {
            font-size: 2em;
            font-weight: bold;
            color: @color3;
            letter-spacing: 2px;
            margin: 30px 0px 20px 0px;
        }

        .container {
            text-align: center;
        }

        .title {
            font-size: 1.2em;
            color: @color3;            
            line-height: 27px; 
            font-weight: bold;           

            .stands {
                color: #61bd4f;
                font-weight: bold;
            }
        }

        .sub-title {
            color: #7b7b7b;
            font-size: 1.1em;
            line-height: 25px;
            margin-top: 19px;
        }

        .btn-signup {
            .linearGradient(#61bd4f, #5aac44);            
            box-shadow: 0 2px 0 #38713b;
            color: #fff;            
            font-weight: bold;
            margin-top: 10px;
            padding: 6px 10px;   
        }

        p.log-in {
            margin-top: 15px;
            font-size: 1.1em;
            color: #7b7b7b;

            a {
                text-decoration: underline;
                color: #61bd4f;
            }
        }
    }

    /*-----------------------------------------------------------------------------------------------------------
    Tablet display
    -----------------------------------------------------------------------------------------------------------*/
    @media (min-width: 768px) {   
        .search-section {
            height: 270px;
            h1 {
                font-size: 2.5em;
                margin-top: 70px;
                letter-spacing: 2px;
            }
            .search-box {
                width: 80%;
                margin: 40px auto 0px; 

                input[type=text] {
                    width: 72%;
                }
                .search-type {
                    width: 14%;
                }
            }      
        } // end .search-section

        .about-section {
            .about {
                font-size: 2.5em;
                margin-top: 50px;
            }

            .title {
                font-size: 1.5em;                
                line-height: 30px;
                font-weight: 700;
            }

            .sub-title {
                font-size: 1.3em;
                line-height: 27px;
            }

            p.log-in {
                font-size: 1.3em;
            }

            .btn-signup {
                font-size: 1.2em;
                padding: 6px 12px;
            }
        } // end .about-section
    } // end @media (min-width: 768px)

    /*-----------------------------------------------------------------------------------------------------------
    Desktop display
    -----------------------------------------------------------------------------------------------------------*/
    @media (min-width: 1024px) {        
        .search-section {
            height: 300px;
            left: 0;            
            .bg-img {
                background-position: 50% 25%;
            }
            
            h1 {
                font-size: 3.5em;
                letter-spacing: 4px;
                margin-top: 70px;
            }

            .search-box {
                width: 65%;
                height: 60px;
                margin: 50px auto;

                input[type='text'] {
                    font-size: 1.8em;
                }

                .search-type {
                    margin-top: 3px;
                    .glyphicon-book {
                        font-size: 1.9em;
                        margin: 10px 5px 0 0;
                    }

                    .arrow {
                        padding: 5px;
                        &.down {
                            margin-bottom: 10px;
                        }
                        &.up {
                            margin-bottom: 8px;
                        }
                    }
                }

                .select-types-content {
                    top: 59px;
                }

                .search-suggestion {
                    top: 59px;
                }
            }

            &.fix-top {
                position: fixed !important;
                height: auto;
                background: none;
                top: 0;                
                left: 170px;

                .bg-img {
                    display: none;
                }

                h1 {
                    display: none;
                }

                .container {
                    margin: 0px;
                }

                .search-box {
                    height: 40px;
                    margin: 19px 0px 0px;
                    width: 400px;        

                    input[type=text] {
                        width: 70%;
                        font-size: 1.5em;
                        padding: 0 5px 2px 10px;
                    }

                    .btn-search {
                        height: 104%;
                        i {
                            font-size: 1.9em;
                        }
                    }

                    .search-type {
                        width: 16%;
                        .select-icons {
                            .glyphicon-book {
                                font-size: 1.3em;
                                margin: 5px 4px 0 0;
                            }
                            .arrow {
                                margin: 0 0 7px 5px;
                                padding: 4px;
                                &.down {
                                    margin-bottom: 5px;
                                }
                                &.up {
                                    margin-bottom: 1px;
                                }
                            }
                        }
                    }

                    .select-types-content {
                        top: 39px;
                    }

                    .search-suggestion {
                        top: 39px;
                        max-height: 400px;
                        overflow-y: auto;
                    }
                }
            } // end &.fix-top             
        } // end .search-section

        .about-section {
            .about {
                font-size: 3em;
                margin: 70px 0 40px 0 !important;
            }

            .title {
                font-size: 2em;
                line-height: 40px;
                font-weight: normal;
            }

            .sub-title {
                font-size: 1.5em;
                color: #a9a9a9;
            }

            .btn-signup {
                font-size: 1.5em;
                margin: 40px 0px 10px 0px;
                padding: 6px 15px;
            }
        } // end .about-section
    } // end @media (min-width: 1024px)

    @media (min-width: 1366px) {
        .search-section {
            height: 400px;
            h1 {
                margin-top: 120px;
            }

            .search-box {
                margin: 60px auto;
            }
        }
    }
}