.searchresult-page {
    margin-top: 80px;

    .breadcrumb {
        padding: 8px 0px;        

        ol {
            list-style: none;
            padding: 0px;
            margin: 0px;
            li {
                display: inline-block;

                &.active {
                    a {
                        opacity: 1;
                        filter: alpha(opacity=100);
                    }
                    span[itemprop="name"] {
                        font-weight: bold;                        
                    }
                }

                a {
                    padding-right: 4px;
                    opacity: 0.7;
                    filter: alpha(opacity=70);
                }

                span[itemprop="position"] {
                    color: #8c8a8a;
                    letter-spacing: 4px;
                }
            }
        }
    } //end .breadcrumb    

    .search-result {
        .grambs, .etymologys {
            padding: 0px 10px;
        }

        .gramb, .etymology {
            padding-bottom: 15px;            
        }  

        .main-word {
            cursor: pointer;
            background-color: #fff;
            padding: 10px;
            .border-radius(3px);
            .box-shadow('1px 1px 2px #ccc, -1px -1px 2px #dedddd');
            text-align: center;

            .word-name {          
                font-size: 2.2em;      
                font-weight: bold;                
                margin: 0px;
            }
            
            .pronunciation {
                margin-top: 7px;

                .sound-link {
                    text-decoration: none;
                    .glyphicon-volume-up {
                        font-size: 2em;
                        color: #c75858;
                        display: inline-block;                    
                        top: 5px;
                        left: 4px;
                        &:hover {
                            color: #942b2b;
                        }
                    }
                }
                .phonetic-spelling {
                    color: #d0a44c;
                    font-size: 1.5em;
                    margin-left: 10px;
                }
            } //end .pronunciation

            .actions {
                cursor: pointer;
                height: 35px;                
                margin-top: 20px;
                .shares {
                    float: left;
                    a {
                        position: relative;
                        width: 35px;
                        height: 35px;
                        border: 1px solid #ccc;
                        border-radius: 50%;
                        display: inline-block;
                        margin-right: 3px;
                        .fa {
                            position: absolute;
                            position: absolute;
                            font-size: 1.5em;
                            top: 6px;
                            color: #7e8282;
                            &.fa-facebook {
                                left: 10px;                                
                            }
                            &.fa-twitter {
                                left: 8px;
                            }
                            &.fa-google-plus {
                                left: 5px;
                            }
                        }
                    }
                } // end .shares

                .btn-add-to-list {
                    float: right;
                    border: 1px dashed #ccc;
                    .border-radius(3px);
                    font-size: 1.1em;
                    color: #888686;
                    //.box-shadow(0px 1px 5px #c7c7c7);
                    padding: 4px 0px 4px 20px;
                    display: block;
                    width: 107px;                
                    position: relative;

                    .glyphicon-plus {
                        font-size: 0.8em;
                        position: absolute;
                        top: 8px;
                        left: 9px;
                        color: #b9b9b9;
                    }
                } // end .btn-add-to-list
            }            
        }

        .mean-word {
            clear: both;
            .type-of-dict {
                padding: 0px 10px 5px 10px;
                p {
                    color: #ccc;
                    .type {
                        color: #337ab7;
                        opacity: 0.7;
                    }
                }                
            }
            cursor: pointer;
            background-color: #fff;
            .border-radius(3px);
            .box-shadow('1px 1px 2px #ccc, -1px -1px 2px #dedddd');
            margin-top: 10px;

            .definition-in {
                cursor: pointer;
                padding: 20px 10px 0px;
                display: block;
                font-size: 1.1em;   
                color: #585a5a;         
            }
        }

        .no-result {            
            background-color: #fff;
            border-radius: 3px;            
            min-height: 100px;
            h1 {
                margin: 0px;
                padding: 20px 10px;
                line-height: 25px;
                font-size: 1.1em;
                color: #3b3c3c;
                font-weight: normal;
            }            
        }

        .type-of-word {
            border-top: 2px solid #ccc;
            margin-top: 10px;
            font-size: 1.1em;
            text-transform: uppercase;
            font-weight: bold;
            padding-top: 6px;
            color: #d86f0f;
            cursor: pointer;

            &.collapsed {
                .arrow {
                    &.up {                   
                        display: inline-block;
                    }

                    &.down {                    
                        display: none;
                    }
                }                
            }

            .arrow {
                border: solid #585a5a;
                border-width: 0 2px 2px 0;
                display: inline-block;
                padding: 4px;
                margin: 0 0 4px 9px;

                &.up {                
                    .transform(rotate(-135deg));
                    margin-bottom: -4px;
                    display: none;
                }

                &.down {                
                    .transform(rotate(45deg));
                    display: inline-block;
                }
            }
        }        

        .l1-container {
            margin-left: 25px;

            .l1-mean {
                font-size: 1.2em;
                line-height: 25px;
                font-weight: bold;
                color: #484444;

                .l1-index {
                    position: absolute;                    
                    margin-left: -25px;
                }
            }
        }
        
        .l2-container {
            margin-left: 37px;
            .l2-mean {
                font-size: 1.1em;
                line-height: 25px;
                font-weight: bold;
                color: #484444;

                .l2-index {
                    position: absolute;                    
                    margin-left: -37px;
                }
            }
        }

        .level1-strong-mean, .level2-strong-mean {
            font-weight: bold;
            &:before {
                content: '(';
                font-weight: normal;
            }
            &:after {
                content: ') ';
                font-weight: normal;
            }
        }

        .no-object {
            color: #23aba0;
            &:before {
                content: ' ['
            }
            &:after {
                content: '] '
            }
        }

        .ex {
            font-size: 1.1em;
            font-style: italic;
            font-weight: 300;
            color: #716c6c;
            padding: 3px 0px;
        }   

        .more-examples {
            .exg {
                display: none;
                padding-top: 15px;
            }            
        
            .btn-more-exg {
                position: relative;
                padding-left: 24px;
                color: #848484;            
                border: 1px dashed #ccc;
                outline: none;
                cursor: pointer;

                &:active, &:hover, &:visited {
                    background-color: #fff;
                }             

                &:before {
                    position: absolute;
                    content: "+";
                    top: -1px;                    
                    left: 5px;
                    font-size: 1.5em;
                    color: #848484;
                }                         

                &.collapsed {
                    &:before {
                        content: "\2013";
                        top: 1px;
                    }
                }
            }           
        }           

        .etymology {
            .l1-container {
                .l1-phase {
                    font-size: 1.1em;
                    line-height: 25px;
                    font-weight: bold;
                    color: #484444;

                    .l1-index {
                        position: absolute;                    
                        margin-left: -25px;
                    }
                }

                .l1-mean {
                    font-size: 1.1em;
                    line-height: 20px;                    
                    color: #848181;
                    margin-top: 15px;
                    border-left: 5px solid #ccc;
                    padding-left: 5px;                    
                }                
            }
        }

        .en-vi { //for en-vi section
            .gramb {
                padding-bottom: 0px;
            }
            .type-of-word {
                margin-top: 25px;
                &:first-child {
                    margin-top: 10px;
                }
            }

            .l1-container {
                position: relative;
                margin-left: 20px;           
                .l1-mean {
                    font-size: 1.2em;
                }
                .l1-dot-icon {
                    width: 8px;
                    height: 8px;
                    background-color: #d86f0f;
                    display: inline-block;
                    .border-radius(50%);
                    position: absolute;
                    margin-left: -20px;
                    top: 10px;
                }
                .sentences {                    
                    .l1-sentence {
                        font-size: 1.1em;
                        line-height: 20px;
                        color: #848181;
                        margin-top: 15px;
                        border-left: 5px solid #ccc;
                        padding-left: 5px;
                    }

                    .l1-translate {
                        margin-left: 10px;
                    }
                }

                &:last-child {
                    padding-bottom: 15px;
                }

                &.idiom {                    
                    .l2-container {
                         margin-left: 0px;
                         .l2-mean {
                             margin-top: 0px;
                         }
                    }
                    .l2-dot-icon {
                        width: 6px;
                        height: 6px;
                        background-color: #484444;
                        display: inline-block;                        
                        margin-right: 10px;
                    }
                    .l3-container {
                        margin-left: 15px;
                        .l3-sentence {
                            font-size: 1.1em;
                            line-height: 20px;
                            color: #848181;
                            margin-top: 15px;
                            border-left: 5px solid #ccc;
                            padding-left: 5px;
                        }

                        .l3-translate {
                            margin-left: 10px;
                        }
                    }                    
                }
            }
        }
    }

    @media (min-width: 768px) {
        margin-top: 100px;
        .search-result {
            .main-word {
                .word-name {
                    font-size: 3em;
                }

                .pronunciation {
                    .sound-link {
                        .glyphicon-volume-up {
                            font-size: 2.5em;
                            top: 7px;
                            left: 0px;
                        }
                    }
                    .phonetic-spelling {
                        font-size: 2em;
                    }
                }

                .actions {
                    height: 45px;
                    margin-top: 30px;
                    .shares {
                        a {
                            width: 45px;
                            height: 45px;
                            margin-right: 8px;

                            .fa {
                                top: 10px;
                                font-size: 1.9em;
                                &.fa-facebook {
                                    left: 13px;
                                }
                                &.fa-twitter {
                                    left: 11px;
                                }
                                &.fa-google-plus {
                                    left: 7px;
                                }
                            }
                        }
                    }
                    .btn-add-to-list {
                        font-size: 1.5em;
                        padding: 5px 0 5px 20px;
                        width: 145px;
                        .glyphicon-plus {
                            top: 12px;
                        }
                    }
                }
            } //end .main-word

            .mean-word {
                .definition-in {
                    font-size: 1.3em;
                }
                .type-of-dict {
                    font-size: 1.1em;
                }
            } //end .mean-word

            .type-of-word {
                font-size: 1.3em;
            }

            .l1-container {
                margin-left: 30px;
                .l1-mean {
                    font-size: 1.3em;
                    .l1-index {
                        margin-left: -30px;
                    }
                }
            }

            .l2-container {
                margin-left: 40px;
                .l2-mean {
                    font-size: 1.2em;
                    .l2-index {
                        margin-left: -40px;
                    }
                }
            }

            .ex {
                font-size: 1.2em;
            }

            .etymology {
                .l1-container {
                    .l1-phase {
                        font-size: 1.3em;
                        .li-index {
                            margin-left: -30px;
                        }
                    }

                    .l1-mean {
                        font-size: 1.2em;
                    }
                }
            }

            .en-vi {
                .l1-container {                    
                    .l1-mean {
                        font-size: 1.3em;
                    }
                    .sentences {
                        .l1-sentence {
                            font-size: 1.2em;
                        }

                        .l1-translate {
                            font-size: 1.1em;
                        }
                    }
                }
            }
        }      
    }

    @media (min-width: 1024px) {
        margin-top: 0px;                
        .breadcrumb {
            ol {
                float: left;
            }
        }        

        .search-result {
            padding-top: 20px;
            // .container {
            //     background-color: #fff;
            //     min-height: 400px;
            //     border-radius: 10px;
            //     .box-shadow(0 0 25px rgba(0,0,0,.04));
            // }

            .no-result {
                font-size: 1.7em;
                line-height: initial;
            }
        }        
    }
}