<div class="search-box">
    <form action="/search" method="GET" class="frmSearch">                                        
            <input id="word" name="word" class="pull-left" type="text" placeholder="eg., vocabulary" value="{{word}}" autocomplete="off">
            <div class="search-type pull-right">
                <div class="select">
                    <select name="type">
                        <option value="vi">VI</option>
                        <option value="en">EN</option>                                    
                    </select>
                    <div class="select__arrow"></div>
                </div>     
            </div>                
            <div id="search-suggestion"  class="search-suggestion">                                                    
            </div>                    
    </form>
</div>                  