<div class="task-bar">
    <ul>
        <li class="btn-search-list">
            <form action="GET" id="frmSearchList" class="frmSearchList">
                <input type="text" id="txtListName" class="txtListName" placeholder="Nhập tên bộ từ cần tìm">
                <i class="fa fa-search" aria-hidden="true" for="frmSearchList" id="btn-searchList"></i>
                <i class="fa fa-times-circle" aria-hidden="true" id="btn-close-searchList"></i>
            </form>
            <ul class="lib-types">
                <li class="active"><i class="fa fa-search" aria-hidden="true" for="frmSearchList"></i> Tất cả</li>
                <li><i class="fa fa-search" aria-hidden="true" for="frmSearchList"></i> Những bộ từ đang học</li>
                <li><i class="fa fa-search" aria-hidden="true" for="frmSearchList"></i> Những bộ từ của tôi</li>
                <li><i class="fa fa-search" aria-hidden="true" for="frmSearchList"></i> Những bộ từ của Elvoca</li>
                <li><i class="fa fa-search" aria-hidden="true" for="frmSearchList"></i> Những bộ từ cộng đồng</li>
            </ul>
        </li>
        <li class="btn-add-list">
            <a href="">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <span>Thêm bộ từ</span>
            </a>
        </li>        
        <li class="btn-ranking">
            <a href="">
                <i class="fa fa-trophy" aria-hidden="true"></i>
                <span>Bảng xếp hạng</span>
            </a>
        </li>
    </ul>
</div>