<script>
    var pageContext = {
        pageName: 'signuppage'
    }
</script>

<div class="signup-page" id="signup-page">    
    <div class="container">
        <h1 class="hero-title">Create a Dict Account</h1>
        <span>It's free. It's easy. It takes five seconds.</span>
        <form action="/signup" method="POST" id="frm-signup" class="frm-signup">
            <div class="form-group">
                <label for="firstname">First Name</label>
                <input type="text" class="form-control" id="firstname" name="firstname" placeholder="eg., Lando" value="{{form.firstname}}">
            </div>
            <div class="form-group">
                <label for="lastname">Last Name</label>
                <input type="text" class="form-control" id="lastname" name="lastname" placeholder="eg., Calrissian">
            </div>
            <div class="form-group">
                <label for="">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="eg., calrissian@cloud.ci">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="eg., ........" autocomplete="off">
            </div>            
            <div class="checkbox">
                <label>
                    <input type="checkbox"> I accept the <a>Term of Services</a> and <a>Privacy Policy</a>
                </label>
            </div>
            <button type="submit" class="btn btn-default">Create New Account</button>
        </form>        
    </div>
</div>