/*-----------------------------------------------------------------------------------------------------------
Main Menu
-----------------------------------------------------------------------------------------------------------*/
.main-menu {
    position: fixed;    
    width: @mobile-menu-width-size;
    right: -@mobile-menu-width-size;
    .transition(right 0.3s ease-in);
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;     
    z-index: 9999;
    ul {
        position: absolute;          
        list-style: none;        
        top: 0;
        width: 100%;
        height: 100%;       
        background-color: @color1;
        padding: 0px;
        li {
            display: block;
            padding: 17px 0px 18px 0px;
            border-bottom: 1px solid #91ab96;
            &:last-child {
                border-bottom: 0px;
            }
            a {
                color: #e4ecff;
                font-size: 1.5em;
                display: block;               
                text-align: center;                
            }
        }                
    }
}

/*-----------------------------------------------------------------------------------------------------------
Header
-----------------------------------------------------------------------------------------------------------*/
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    .transition(left 0.3s ease-in);
    background-color: @color1;
    height: 65px;
    z-index: 10000;    
    .logo {
        float: left;
        width: 115px;       
        margin-left: 8px;
        a {            
            color: #fff;
        }

        .el {
            font-size: 2.3em;
            font-weight: 500;
            margin: 10px 0px 0px 10px;
            display: inline-block;
        }

        .voca {
            font-size: 1.8em;
            color: #f1f0d0;
            display: inline-block;
            margin-left: 3px;
            letter-spacing: 2px;
        }
    }

    .right-menu {
        .btn-login {
            display: none;           
        }

        .btn-signup {          
            .linearGradient(#61bd4f, #5aac44);
            background-color: rgba(0,0,0,0.15);	
            box-shadow: 0 2px 0 rgba(0,0,0,0.3);
            color: #fff;            
            font-weight: bold;
            margin: 0px 0px 19px 5px;            
            padding: 4px 7px;         
        }        
    }

    .toggle-menu {
        font-size: 2.2em;
        margin: 15px 20px 0px 10px;
        color: #fff;
        &.glyphicon-remove {
            display: none;
        }
    }    
}

/*-----------------------------------------------------------------------------------------------------------
Mobile
-----------------------------------------------------------------------------------------------------------*/
.mobile-menu {
    header {
        left: -@mobile-menu-width-size;
        .btn-signup {
            display: none;
        }
        .toggle-menu {        
            &.glyphicon-menu-hamburger {
                display: none;
            }
            &.glyphicon-remove {
                display: block;
            }
        }    
    }

    .main-menu {
        right: 0;
    }
}

/*-----------------------------------------------------------------------------------------------------------
Tablet display
-----------------------------------------------------------------------------------------------------------*/
@media (min-width: 768px) {
    // header
    header {        
        .right-menu {
            .toggle-menu {
                display: none;
            }
        } // end .right-menu

        .btn-login {
            display: inline-block !important;                              	
            box-shadow: 0 2px 0 rgba(0,0,0,0.3);
            color: #fff;        
            margin: 16px 0px 19px 5px;            
            padding: 4px 15px;            
            background-color: rgba(0,0,0,0.15);

            &:hover {
                color: #fff;
                background-color: rgba(0,0,0,0.25);
            }
        }

        .btn-signup {
            margin: 16px 20px 19px 10px !important;
            padding: 4px 10px !important;         
        }
    } // end header 
}

/*-----------------------------------------------------------------------------------------------------------
Desktop display
-----------------------------------------------------------------------------------------------------------*/
@media (min-width: 1024px) {
    // header
    header {
        height: 80px;
        .logo {
            width: 150px;
            .el {
                font-size: 3em;
            }
            .voca {
                font-size: 2.5em;
            }
        } // end: .logo

        .right-menu {
            .toggle-menu {
                display: none;
            }
        } // end .right-menu

        .btn-login {
            display: inline-block !important;                              	
            box-shadow: 0 2px 0 rgba(0,0,0,0.3);
            color: #fff;        
            margin: 20px 0px 19px 5px;            
            padding: 4px 18px;
            font-size: 1.4em;
            background-color: rgba(0,0,0,0.15);

            &:hover {
                color: #fff;
                background-color: rgba(0,0,0,0.25);
            }
        }

        .btn-signup {
            margin: 20px 20px 19px 10px !important;            
            padding: 4px 13px !important;
            font-size: 1.4em;
            &:hover {
                .linearGradient(#61bd4f, #38964c) !important;
            }
        }
    } // end header    
}