.search-box {
    position: relative;
    margin: 30px 5px;        
    height: 45px;
    background-color: #fff;
    border: 1px solid #e4e4e4;  
    .border-radius(3px);
    .placeholdercolor();        

    .frmSearch {
        height: 100%;
    }
    
    input[type='text'] {
        width: 65%;
        height: 100%;
        font-size: 1.3em;
        padding-left: 10px;
        padding-right: 5px;
        background-color: transparent;
        border: 0px;
        .border-radius(3px);
        outline: none;
        color: @color3;
        float: left;            
    }       
}

.search-type {
    float: left;
    width: 20%;            
    border-left: 1px solid #ccc;
    height: 80%;
    margin-top: 4px;

    .select-icons {
        padding: 5px;
        cursor: pointer;
        .glyphicon-book {
            font-size: 1.3em;
            margin: 8px 4px 0px 0px;
            color: #585a5a;
        }
        .arrow {
            border: solid #585a5a;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 3px;
            margin: 0px 0px 7px 2px;

            &.up {                
                .transform(rotate(-135deg));
                margin-bottom: 6px;
                display: none;
            }

            &.down {                
                .transform(rotate(45deg));
                display: inline-block;
            }
        }

        &.active {
            .arrow {
                &.up {                
                    .transform(rotate(-135deg));   
                    display: inline-block;                 
                }

                &.down {                
                    .transform(rotate(45deg));
                    display: none;
                }
            }
        }
    }
}

.btn-search {
    float: right;
    height: 105%;
    width: 15%;
    .border-radius(0px);
    background-color: #D0A44C;
    position: relative;
    bottom: 1px;
    right: -1px;
    border-radius: 0px 3px 3px 0px;

    i {
        font-size: 2em;
        color: #fff;
        top: 4px;
        right: 5px;
    }
}

.select-types-content {
    position: absolute;
    width: 100%;
    top: 44px;
    background-color: #026aa7;
    z-index: 1000;
    border-radius: 0 0 3px 3px;
    text-align: left;
    word-wrap: break-word;
    display: none;
    &.active {
        display: block;
    }

    .dict-type {
        list-style: none;
        padding: 0px;
        margin-bottom: 0px;
        li {
            position: relative;
            color: #fff;
            padding: 12px 0px 12px 10px;
            border-bottom: 1px solid #c0bdbc;
            font-size: 1.2em;
            cursor: pointer;

            &:last-child {
                border: none;
            }

            &.active {
                &:after {
                    content: '';
                    display: block;
                    width: 8px;
                    height: 15px;
                    border: solid #fff;
                    border-width: 0 2px 2px 0;
                    transform: rotate(45deg);
                    position: absolute;
                    right: 15px;
                    top: 15px;
                }
            }
        }
    }
}

.search-suggestion {
    position: absolute;
    width: 100%;
    top: 44px;
    background-color: #f3e1bc;
    z-index: 1000;    
    border-radius: 0px 0px 3px 3px;
    text-align: left;
    word-wrap: break-word;

    ul {
        list-style: none;
        padding: 10px 10px 0px;

        .fl {
            font-size: 1.3em;
            color: @color1;
        }

        .fr.hl {
            display: none;
        }

        p {
            font-size: 1em;
            color: #777977;
        }
    }
}